.cabecalho {
    background-color: #0c0b0b;
    padding: 30px;
    text-align: center;
    color: rgb(245, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin: 5px 0;
    border: 1px solid rgb(192, 188, 188);
}

.primeira-parte {
    padding: 20px 0;
    text-align: center;
}

.titulo {
    color: #000000;
}

.principal {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

button {
    width: fit-content;
    padding: 8px 12px;
}

body {
    background-color: rgb(175, 175, 174);
}

label[for="nome"] {
    display: block;
    text-align: center;
    color: rgb(10, 10, 10);
}
label[for="idade"] {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main button {
    margin-top: 10px;
    align-self: center;
}


